@keyframes ldio-uvxfsgs5639 {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.ldio-uvxfsgs5639 div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-uvxfsgs5639 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-uvxfsgs5639 div:nth-child(1) {
  border-color: #f82020
}

.ldio-uvxfsgs5639 div:nth-child(2) {
  border-color: #15f2fd;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-0wtmqby56iw {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-uvxfsgs5639 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uvxfsgs5639 div { box-sizing: content-box; }
