*{
  margin: 0;
  padding: 0;

  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;

  color: rgb(248, 32, 32);
}

a:active {
  color: #ffffff;
}

body {
  display: flex;
  justify-content: center;

  background-color: #252321;
  color: #ffffff;
}
